.page-header
  %h1 Download

  %p.lead
    Download your shopping receipts data as a spreadsheet

%p
  You can load this into any spreadsheet program such as OpenOffice, Google Docs, or Microsoft Office to do your own analysis.
  This is <em>your</em> shopping data so <em>you</em> should have access to it to do
  with as you please.

%p
  And please do let us know if you do something interesting with your data! We're
  always interested to hear from you.

= link_to "Download your data", download_data_path, class: "btn btn-default"
