.page-header
  %h1 Products
  %p.lead
    -# Not actually strictly true at the moment
    All the things you can buy at the Coop

%table.table
  %thead
    %tr
      %th Stock Code
      %th Description
      %th You buy this roughly every
  %tbody
    - @products.each do |product|
      %tr
        %td= product.stock_code
        %td= link_to product.description, product
        %td= rough_period_of_time_in_words(product.average_time_between_purchases(current_user.account))
